<!DOCTYPE html>
<html lang="{{ language[0:2] }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block page_title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/bootstrap-responsive.css" />
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div id="header-container" class="container-fluid">
            <div class="row-fluid">
                <div class="span9">
                    <h1>
                        <a href="{{ path('index') }}">{% block header_title %}{% endblock %}</a>
                    </h1>
                    <p class="lead">
                        {% block header_lead %}{% endblock %}
                    </p>
                </div>
                <div class="span3">
                    {% include '_language_select.twig' %}
                </div>
            </div>
        </div>
        <div id="content-container">
            <div id="content-container-inner" class="container-fluid">
                <div class="navbar row-fluid">
                    <div class="navbar-inner">
                        {% block navbar %}{% endblock %}
                    </div>
                </div>
                <div class="row-fluid">
                    {% block aside %}{% endblock %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div id="footer-container">
            {% block footer %}
            {% set route = app.request.attributes.get('_route') %}
            <p>
                <a href="{{ path(route, {'language': 'french'}) }}">Version française</a>
                &ndash;
                <a href="{{ path(route, {'language': 'english'}) }}">English version</a>
                &ndash;
                <a href="{{ path(route, {'language': 'russian'}) }}">Русская версия</a>
                &ndash;
                <a href="{{ path(route, {'language': 'ukrainian'}) }}">Українська версія</a>
            </p>
            {% endblock %}
        </div>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
